<div class="pagination-wrap" role="navigation">
	{{#if prev}}
	<a href="{{page_url prev}}"><i class="arrow-left"></i></a>
	{{/if}}
	{{#if next}}
	<a href="{{page_url next}}"><i class="arrow-right"></i></a>
	{{/if}}
</div>